<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pricing-header">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Simple Pricing!</h1>
                    <h2 class="lead">The most advanced customer support tools with a simple and affordable pricing. And
                        you
                        can always
                        try for 30 days. Free</h2>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow type">
                            <div class="card-header text-left">
                                <h4 class="my-0 font-weight-normal">Basic</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>10 users included</li>
                                    <li>2 GB of storage</li>
                                    <li>Email support</li>
                                    <li>Help center access</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="alertWithSuccess()">Buy Now
                                </button>
                            </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                            <div class="card-header text-left ">
                                <h4 class="my-0 font-weight-normal">Standar</h4>
                                <h6 class="my-0 font-weight-normal text-right">Saved 15%</h6>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>20 users included</li>
                                    <li>10 GB of storage</li>
                                    <li>Priority email support</li>
                                    <li>Help center access</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="alertWithSuccess()">Buy Now</button>
                            </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                            <div class="card-header text-left">
                                <h4 class="my-0 font-weight-normal">Advance</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>30 users included</li>
                                    <li>15 GB of storage</li>
                                    <li>Phone and email support</li>
                                    <li>Help center access</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-primary"
                                    (click)="alertWithSuccess()">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Frequently Asked Questions </h1>
        </div>
        <br>
        <br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h2>How Does Free Trial Work?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget
                            sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu
                            sem
                            sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in
                            dolor.
                            Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin
                                consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum
                                diam
                                velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus.

                        </p>
                    </div>
                    <div class="col-md-6">
                        <h2>Can I Cancel Any Time?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget
                            sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu
                            sem
                            sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in
                            dolor.
                            Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin
                                consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum
                                diam
                                velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <button class="btn btn-secondary" type="button" [routerLink]="['/challange3']"
            routerLinkActive="router-link-active">
            Challange 3
        </button>
    </div>
</div>